* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
color: #373F47;
font-family: Zen Antique, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: #F4D58D;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 a{
    font-weight: bold;
    font-size: 36px;
    color: #373F47;
    margin: 0;
    text-decoration: none;
    text-shadow: 0 0 10px rgba (0, 0, 0, 0.8);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    color: #373F47;
}

footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 10px;
    background-color: #F4D58D;
}

footer-h2 {
    color: #373F47;
    font-size: 20px;
    margin: 50px;
}

footer ul li {
    margin-left: 20px;
    list-style: none;
}

.hero {
    background-color: #F4D58D ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.statement-img {
margin-right: 20px;
align-items: right;
padding: 50px 50px 50px 50px;
}

.statement-img img {
    max-height: 550px;
    max-width: 550px;
    align-items: right;
    border-radius: 50%;
}

.statement-img img:hover {
    opacity: 0.5;
}

.statement {
    font-size: 64px;
    line-height: 1.0;
    padding: 10% 5%;
    display: flex;
    flex-wrap: wrap;
    width: 80px;
}

.about {
    color: #F4D58D;
}
.intro {
    font-size: 32px;
    font-weight: heavy;
    line-height: 1.5;
    margin: auto;
    background-color: #F4D58D;
    text-align: center;
    padding: 50px;
    list-style: none;
}

.intro ul li {
    list-style: none;
}

.intro p {
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.0;
    padding: 20px 50px;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
}

.projects {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 50%;
}

.project {
    margin: 20px;
    color: #373F47;
    flex: 1 0;
}

.project img {
    width: 100%;
    height: 400px;
    overflow: auto;
    object-fit: cover;
    border-radius: 10%;
}


.project img:hover {
    opacity: 0.50;
}

.project-info {
    padding: 25px;
    overflow: auto;
    line-height: 1.3;
}

.first-project {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.first-project img {
    border-radius: 10%;
}

.first-project img:hover {
    opacity: 0.50;
}
/* .main-project {
    width: 40%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 50%;
} */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex-row {
    display: flex;
}

.project-info h3 {
    font-size: 28px;
    text-decoration: none;
}

.project-info h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}

.project-info p {
    font-size: 17px;
}

.project-name {
    text-decoration: none;

}

.section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.get-in-touch {
    background-color: #F4D58D;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 50px;
}

.get-in-touch ul li a {
    text-decoration: none;
    color: #373F47 ;
}

a {
    text-decoration: none;
    color: #373F47;
}

@media screen and (max-width:575px) {
    .statement {
        width: 100%;
        text-align: center;
    }
}